// Colors
$primary-color: #2f2f2f;
$secondary-color: white;
$car-color: red;
$obstacle-color: yellow;
$game-over-color: red;
$button-color: #61dafb;

// Dimensions
$car-width: 50px;
$car-height: 100px;
$obstacle-size: 50px;
$lane-border-width: 4px;
