.power-up-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  z-index: 15;

  @media (max-width: 768px) {
    top: 10px;
    right: 10px;
    bottom: auto;
    width: 100px;
    font-size: 10px;
    padding: 5px;
  }
}

.slowdown-status {
  margin-bottom: 5px;

  @media (max-width: 768px) {
    margin-bottom: 3px;
  }
}

.shield-status {
  display: flex;
  justify-content: center;
  align-items: center;

  .fa-shield-halved {
    margin: 0 3px; /* Reduce spacing for smaller screens */
  }
}
